<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>
  <!-- <link rel="stylesheet" href="stylesheet.css"> -->
  </head>
  <body>
      <p>Input topics to browse questions: </p>
      <% tagsList.forEach(function(item) { %>
        <input type="checkbox" class="tag" name=topic id=<%= item.name.replace(/\s/g, '') %> /><%= item.name %><br />
          <%item.subTags.forEach(function(sub) { %>
            &emsp; <input type="checkbox" class="tag" name="topic" id=<%= sub.replace(/\s/g, '') %> value=<%= sub %>><%= sub %><br />
          <% }); %>
        <% }); %>
      <p><input id="refreshbutton" type="button" value="Refresh"></p>
      <ul id="questions"></ul>
      <p>Add additional questions by ID (separated by spaces or commas): </p>
      <input type="text" id="idBox" style="width: 500px;"/>
      <input type="button" id="generateFromField"  value="Generate"/>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="main.js"></script>
  </body>
</html>
