<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>
  <link rel="stylesheet" href="stylesheet.css">
  </head>
  <body>
      <p>Input topics</p>
      <% tagsList.forEach(function(item) { %>
        <input type="checkbox" class="input" name=topic id=<%= item.name %> /><%= item.name %><br />
          <%item.subTags.forEach(function(sub) { %>
            &emsp; <input type="checkbox" class="input" name="topic" id=<%= sub %> value=<%= sub %>><%= sub %><br />
          <% }); %>
        <% }); %>
        <p><input id="submitbutton" type="button" value="Submit"></p>
        <ul id="questions"></ul>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="../public/main.js"></script>
  </body>
</html>
